<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body class="body-jogo">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
				<h1 id="bem_vindo_txt">Seja bem vindo,<%=dados.usuario%></h1>		
				<button id="btn_sair"type="button" class="btn btn-info pull-right">Sair</button>
				</div>
			</div>
		</nav>

	    <div class="container">
				<%if( typeof casaUsuario!=undefined){%>
						<div class="row">
						
	    		<div class="col-sm-3 casa">
					<img src="images/casa_<%= casaUsuario%>.jpg" />
				</div>
				<%}%>
			
			
	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
							<span><%=dados.temor%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria"/>
							<span><%=dados.sabedoria%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio"/>
							<span><%=dados.comercio%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia"/>
							<span><%=dados.magia%></span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="acoes" id="acoes"></div>		
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-1">
						<img src="images/outros/suditos.jpg" title="Aldeões" alt="Aldeões" id="btn_aldeoes"/>
					</div>
					
					<div class="col-sm-1">
						<img src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos"/ id="btn_pergaminho">
					</div>
					
					<div class="col-sm-8"></div>
					
					<div class="col-sm-2">
						<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda"/>
						<span><%=dados.moeda%></span>
					</div>
					
				</div>
			</div>
		</div>
		<script>
			$(function(){
				$("#btn_sair").click(function(){
					window.location.href="/sair"
				})

				$("#btn_aldeoes").click(function(){
					$("#bem_vindo_txt").hide()
					$.ajax({
						url:"/aldeoes",
						method:"get",
						success:function(data){
							$("#acoes").html(data)
						}
					})
				});
				$("#btn_pergaminho").click(function(){
					$("#bem_vindo_txt").hide()
					$.ajax({
						url:"/pergaminhos",
						method:"get",
						success:function(data){
							$("#acoes").html(data);
						}
					})
				})
			});
		</script>
	</body>
</html>